*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tinder {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
    opacity: 1;
}

.tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
}

.tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
}

.tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
}

.tinder--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.tinder--card {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: 75%;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.tinder--card h3 {
    margin-top: 50px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
}

.tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
}

.tinder--buttons button:focus {
    outline: 0;
}

.tinder--buttons i {
    font-size: 32px;
    vertical-align: middle;
}

.fa-heart {
    color: #FFACE4;
}

.fa-remove {
    color: #CDD6DD;
}

.name-box {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    position: relative;
}

h2 {
    padding-top: -0px;
    padding-left: 20px;
    color: #454344;
    margin: 0;
    margin-top: 10px;
}

p {
    margin: 0;
    margin-top: 10px;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
}

.age {
    padding-left: 6px;
    font-weight: 200;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #444444;
    overflow-x: hidden;
}

.sidenav a {
    padding: 10px 20px 6px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #f9d22c;
    display: block;
    font-weight: bold;
}

.sidenav a:hover {
    color: #a88b1d;
}

.sidenav-app-title {
    color: white;
}

.sidenav-title {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    position: relative;
    background-color: #050505;
    text-align: center;
    padding-top: 10px;
}

.sidenav-href {
    display: flex;
    justify-content: center;
}

body {
    background: #ffffff; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}


/* === CONVERSATIONS === */

.discussions {
    width: 350px;
    height: 100vh;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #ffffff;
    display: inline-block;
}

.discussion {
    width: 100%;
    height: 90px;
    background-color: #4c4c4c;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
}

.search .searchbar {
    height: 40px;
    background-color: #FFF;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.discussions .search .searchbar input {
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
}

.search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}
.search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}
.search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}
.search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}

.message-active {
    width: 98.5%;
    height: 90px;
    background-color: #FFF;
    border-bottom: solid 1px #E0E0E0;
}

.discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussion .name {
    margin: 0 0 0 20px;
    font-size: 11pt;
    color:#BBB;
}

.discussion .message {
    margin: 6px 0 0 20px;
    font-size: 9pt;
    color:#BBB;
}

.timer {
    margin-left: 15%;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.chat {
    width: 100%;
    padding-left: 350px;
}

.header-chat {
    background-color: #FFF;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
}

.chat .header-chat .icon {
    margin-left: 30px;
    color:#515151;
    font-size: 14pt;
}

.chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-size: 13pt;
    color:#515151;
}

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}

.chat .messages-chat {
    padding: 25px 35px;
}

.chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
}

.text-only {
    margin-left: 45px;
}

.time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
}

.response-time {
    float: right;
    margin-right: 40px !important;
}

.response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
}

.response .text {
    background-color: #e3effd !important;
}

.footer-chat {
    width: calc(65% - 66px);
    height: 80px;
    display:flex;
    align-items: center;
    position:absolute;
    background-color: transparent;
    border-top: 2px solid #EEE;
    bottom: 0;
}

.chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}

.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-size: 13pt;
    color:#515151;
}

.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    border:none !important;
    width:60%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}